{{> header}}
{{> menu}}

<main>
  <h1>Customers</h1>

  <div class="customer-list">
    {{#each customers}}
      <div class="customer-card">
        <h2>{{first_name}} {{last_name}}</h2>
        <p><strong>Email:</strong> {{email}}</p>

        <h3>Primers 5 lloguers</h3>
        <ul>
          {{#each rentals}}
            <li>{{title}} - {{rental_date}}</li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</main>

{{> footer}}